name: golden_screenshot_demo
description: A demo project for the golden_screenshot package.
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  golden_screenshot:
    path: ../

flutter:
  uses-material-design: true
